@import url("style.css");

.body{
    position: relative;
}

.tank1{
    position: absolute;
    top:10vh;
    left: 0;
    height: 90vh;
    width:18%;
    margin-right: 2vw;
    padding: 1rem 2vw;
    background-color: #0e1c36;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.categories{
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    height: 90vh ;    
    padding:0 2rem;
}

.list-item{
    color:#A3F7B5;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease;
}

.list-item:hover{
    margin-left: 0.5rem;
    color: #FF607D;
}

.tank{
    position: absolute;
    right:0;
    bottom:0;
    width:78%;
    height: 86vh;
    margin: 2vh 2vw;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
}

.quizCard{
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: 1rem;
    padding: 0;
    height: 80%;
    border-radius: 30px;
    color:gainsboro;
    border: 0;
    
}

.backdrop{
    margin:1rem;
    padding: 1rem;
    height: fit-content;
    width:auto;
    border-radius: 24px;
    display: none;
    transition: filter 0.2s ease-in-out;
}


.quizCard:hover{
    box-shadow: 0.1px 0.1px 15px 15px #A3F7B5;
}


.quizCard:hover p {
    display: block;
    filter: none;
    color: azure;
  }
 
.quizCard:hover .backdrop{
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
}  
  .quizCard:hover h4 {
    font-weight: 500;
    color: azure;
    filter: none;
  }  

.quizCard p{
    font-size: 12px;
    margin: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.quizCard h4{
    font-weight: 500;
    font-size: 20px;
    margin: 0.5rem;
}