@import url(style.css);

.body{
    
}

.container{
    background-color: #0E1C36;
    margin:0;
    width:100vw;
    height: 90vh;
    align-content: start;
}



.card{
    position: relative;
    display: grid;
    width: max-content;
    height: 70vh;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    justify-content: center;
    background: linear-gradient(135deg,#A3F7B5,#40C9A2);
    margin: 2rem;
    padding: 2rem;
    border-radius: 32px;
    text-align: center
}

.row1{
    text-align: center;
    align-content: center;
}
#quiz-name{
    font-size: 36px;
}

#score{
  font-size: 40px;
  padding:1rem 0 0rem 0.5rem;
  margin-bottom: 0;
}
.score p{
    margin-top: 0;
    position: relative;
    top:-0.8rem;
    left:0.2rem;
    font-size: 12px;
}

.row2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.row3{
    text-align: center;
    align-self: center;
}

.row3 h4{
    color: #333;
    font-weight: 500;
    font-size: 16px;
    margin:0.5rem;
}

.row3 h3{
    font-weight: 700;
}

.progress-bar {
    position: relative;
    align-self: center;
    z-index: 0;
    border-radius: 60px;
    display: flex;
    align-content: center;
    padding: 2rem 0.5rem 0 0.5rem;
    width:300px; /* Adjust width as needed */
    height: 30px; 
    background-color: #ddd; /* Background color for the bar */
  }

  .progress-bar p{
    font-size: 12px;
  }

  #pf1{
    border-radius: 60px;
    position: absolute;
    left:0;
    top:0;
    height: 30px;
    color: azure;
    text-align: center;
    align-content: center;
    background-color: #6F2DBD;
  }

  
.row4 button{
    margin: 4px;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #0e1c36;
    border: 0;
    outline: 0;
    border-radius: 32px;
}

#home-btn:hover{
    background-color:#0B4F6C ;
    color: azure;
}

#analysis-btn:hover{
    background-color:#6F2DBD ;
    color: azure;
}


  