@import url(style.css);

.container{
    width:100vw;
    height: 90vh;
    margin: 0;
    padding: 2px;
    background-color: #0e1c36;
}

.section1{
    top: 0;
    left:0;
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    background-color: #357DED;
    color: #E5F9E0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2px 0;
}

.section2{
    margin:2px;
    padding: 2rem;
    width:100vw;
    display: flex;
    position: absolute;
    bottom:0;
}

.col1{
    position: relative;
    display: block;
    width: 60%;
    height: 100%;
    padding:0;
}

.row1{
    margin:0 1.2rem 0 0.5rem;
    position: absolute;
    height: fit-content;
    top:0;
    left:0;
    background-color: #CEDADA;
    border-radius: 15px;
    padding: 1rem 2rem;
}

.row1 h4{
    margin-bottom: 1rem;
}

.row2{
    margin:0.5rem 0;
    padding:  0 0.5rem;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    width:100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
}

.option button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: fit-content;
    padding: 1rem;
    background: #B6C8A9;
    border:none;
    border-radius: 7.5px;
    min-height: 100%;
}

.option button:hover{
    background: #C8EAD3 ;
}

.option p{
    text-align: left;
    padding-left:1rem;
}


.row3{
    
    position: absolute;
    bottom:0;
    height: 10%;
    width:100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.row3 button{
    padding:0.5rem 2rem;
    margin: 0.5rem;
    height: fit-content;
    border-radius: 30px;
    border: 0;
}


.col2{
    position: relative;
    width:40%;
    height:100%;
    padding: 0;
    display:block;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:100%;
    height:fit-content;
    position: absolute;
    top: -0.5rem;
    left:0;
    margin:0.5rem;
}

.tabs button{
    padding: 1rem;
    margin: 0;
    height: fit-content;
    width:100%;
    border: 0;
    border-radius: 15px 15px 0 0;
}

#tab1{
    background-color: #009F93;
    color: #E5F9E0;
}

.panel{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    margin:0 0.5rem;
    position: absolute;
    top:0;
    background-color: #009F93;
    border-radius: 0 0 15px 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 1rem;
}

.q-btn{
    margin:1rem;
    padding: 0.5rem 1rem;
    height: fit-content;
    width: fit-content;
}

#active{
    background-color: #B3BFB8;
}

.btns{
    width:100%;
    position: absolute;
    bottom:0.6rem;
}

.btns button{
    padding:0.5rem 2rem;
    margin: 0.5rem;
    height: 10%;
    border-radius: 30px;
    border: 0;
}