*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

@media(max-width:500px)
{
    .body{
        grid-template-rows: 50px 50px 1fr 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "card";
    }
}

.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .coda-regular {
    font-family: "Coda", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    display: grid;
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #40c9a2, #00ced1);
}

.header{
    position: static;
    height: 10vh;
    padding: 2% 5%;
    align-items: center;
    display: flex;
    background-color: #0e1c36;
    color: #e5f9e0;
}

.tank1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 40vh;
}

.tank2{
    display: grid;
    height: 50vh;
    width: 100vw;
    position: relative;
    text-align: center;
    justify-self: center;
    padding: 4rem 0.5rem;
    margin: 0;
    justify-content: center
}

.col1{
    display: flex;
    padding: 0.5rem 0.5rem;
    width: 45vw;
    height: 40vh;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.col2{
    display: flex;
    padding: 4rem 0.5rem 2rem 4rem;
    width: 55vw;
    height: 40vh;
    align-content: center;
}

.card{
    min-width: 500px;
    width:720px;
    display: flex;
    height: fit-content;
}

.col1 img{
    height: 100%;
}



.icon{
    margin-top: 1vh;
    position:static;
    background: none;
}

.icon button{
    border: none;
    background: none;
}

.icon button img{
    background: none;
}

.logo{
    display: inline;
    margin-left: 0;
    background: none;
    text-decoration: none;
}

.logo h1{
    font-size:24px;
    font-weight: 500;
}



.container{
    top: 0rem;
    position: relative;
    margin: 5px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.container img{
    display: flex;
    width:auto;
    height: 275px;
    min-height: 100px;
}

.container h2{
    font-size: 24px;
    font-family: 'coda',sans-serif;
}

.phrase{
    font-weight: 600;
    font-size: 80px;
}

.dropdown{
    min-width: 200px;
    width:20vw;
    align-self: center;
    margin: 5px;
    position: relative;
    border-radius: 32px;
    background-color: #0e1c36;
    color: #e5f9e0;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.dropdowntext{
    
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}
    
.dropdowntext span{
    margin-right: 10%;
}
    

.dropdowntext img{ 
   height: 16px;
   transition: rotate 0.2s ease;
}

#dropicon.show
{
    rotate: 180deg;
    transition: rotate 0.2s ease;
}

.dropdownlist{
    
    left: 0;
    margin-top: 0.5rem;
    list-style-type: none;
    position: absolute;
    width: 100%;
    border-radius: 16px;
    background-color: white;
    color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#list.show{
    scrollbar-width: thin;
    max-height: 10rem;
    overflow-y: scroll;
}


.list-item{
    
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease;
}

.list-item:hover{
    margin-left: 0.5rem;
    color: #40c9a2;
}

.search{
    margin: 5px;
    display: flex;
    align-items: center;
    width: 70vw;
    color:azure;
}

.search input{
    min-width: 170px;
    
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #0e1c36;
    border: 0;
    outline: 0;
    border-radius: 32px;
}

.search button{
    min-width: 56px;
    max-width: 56px;
    margin: 5px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background: azure;
    max-height: 56px;
    min-height: 56px;
    cursor: pointer;
}

.search button:active{
    background-color: #A3F7B5;
    
}


.search button img{
    position: relative;
    height: 20px;
    top: 2.5px;

}



#mic.recording{
    content: url('/images/icons8-sound.gif');
}